In [ ]:
# summary

# web : server-client : url
# requests : ë™ì í˜ì´ì§€ : URL ë³€í™” ì—†ì´ í˜ì´ì§€ì˜ ë°ì´í„° ìˆ˜ì • : json(str) > response.json() > DataFrame
# requests : ì •ì í˜ì´ì§€ : URL ë³€í™” ìˆì´ í˜ì´ì§€ì˜ ë°ì´í„° ìˆ˜ì • : html(str) > BeautifulSoup > css-selector > DataFrame
# selenium : ì›¹ë¸Œë¼ìš°ì ¸ë¥¼ python ì½”ë“œë¡œ ì»¨íŠ¸ë¡¤í•´ì„œ ë°ì´í„° ìˆ˜ì§‘
# requests(ë™ì í˜ì´ì§€,API) > requests(ì •ì í˜ì´ì§€) > selenium

# ì›¹í¬ë¡¤ë§ ì ˆì°¨
# 1. ì›¹ì„œë¹„ìŠ¤ë¶„ì„(ê°œë°œìë„êµ¬), APIë¬¸ì„œ : URL
# 2. request(URL) > response(data) : data(json(str), html(str))
# 3. data(json(str), html(str)) > response.json(), BeautifulSoup(css-selector) > DataFrame

# request í• ë•Œ 401,403,500 ë“±ë“±ì˜ ì—ëŸ¬ê°€ ë°œìƒí•˜ëŠ” ê²½ìš° > headers ìˆ˜ì •í•´ì„œ ë°ì´í„° ìš”ì²­(user-agent, refere)
# API ì´ìš© : request token ìˆ˜ì§‘í›„ í¬ë¡¤ë§

### Zigbang ì›ë£¸ ë§¤ë¬¼ ë°ì´í„° ìˆ˜ì§‘
- ë™ì´ë¦„ > ë§¤ë¬¼ ë°ì´í„°

In [2]:
import pandas as pd
import requests

#### Process
    - ë™ì´ë¦„ìœ¼ë¡œ ìœ„ë„ ê²½ë„ êµ¬í•˜ê¸°
    - ìœ„ë„ ê²½ë„ë¡œ geohash ì•Œì•„ë‚´ê¸°
    - geohashë¡œ ë§¤ë¬¼ ì•„ì´ë”” ê°€ì ¸ì˜¤ê¸°
    - ë§¤ë¬¼ ì•„ì´ë””ë¡œ ë§¤ë¬¼ ì •ë³´ ê°€ì ¸ì˜¤ê¸°

#### 1. ë™ì´ë¦„ìœ¼ë¡œ ìœ„ë„ ê²½ë„ êµ¬í•˜ê¸°

In [11]:
# 1. URL
address = 'ë§ì›ë™'
url = f'https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸'

# 2. request > response : json(str)
response = requests.get(url)

# 3. json(str) > lat, lng
data = response.json()['items'][0]
lat, lng = data['lat'], data['lng']
lat, lng

(37.556785583496094, 126.9013442993164)

#### 2. ìœ„ë„ ê²½ë„ë¡œ geohash ì•Œì•„ë‚´ê¸°
- geohash2 : pip install geohash2

In [12]:
import geohash2

In [15]:
# precision : í´ìˆ˜ë¡ ì˜ì—­ì´ ì‘ì•„ì§
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wydjx'

#### 3. geohashë¡œ ë§¤ë¬¼ ì•„ì´ë”” ê°€ì ¸ì˜¤ê¸°

In [17]:
url = f'https://apis.zigbang.com/v2/items?deposit_gteq=0&domain=zigbang&geohash={geohash}&needHasNoFiltered=true&\
rent_gteq=0&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸'
response = requests.get(url)
response

In [21]:
data = response.json()['items']
ids = [item['item_id'] for item in data]
len(ids), ids[:5]

(670, [35346672, 35365643, 35070248, 35265682, 35411116])

#### 4. ë§¤ë¬¼ ì•„ì´ë””ë¡œ ë§¤ë¬¼ ì •ë³´ ê°€ì ¸ì˜¤ê¸°

In [22]:
url = 'https://apis.zigbang.com/v2/items/list'
params = {
    'domain': 'zigbang',
    'withCoalition': 'true',
    'item_ids': ids[:900], # ì•„ì´í…œ ë°ì´í„°ì˜ ê°¯ìˆ˜ë¥¼ 999ê°œê¹Œì§€ ì‚¬ìš© ê°€ëŠ¥
}
response = requests.post(url, params)
response

In [26]:
pd.options.display.max_columns = 50

In [28]:
data = response.json()['items']
df = pd.DataFrame(data)
df.tail(1)

,section_type,item_id,images_thumbnail,sales_type,sales_title,deposit,rent,size_m2,ê³µê¸‰ë©´ì,ì „ìš©ë©´ì,ê³„ì•½ë©´ì,room_type_title,floor,floor_string,building_floor,title,is_first_movein,room_type,address,random_location,is_zzim,status,service_type,tags,address1,address2,address3,manage_cost,reg_date,is_new,contract
669,None,35442758,https://ic.zigbang.com/ic/items/35442758/1.jpg,ì „ì„¸,ì „ì„¸,21000,0,59.93,"{'m2': 59.93, 'p': '18.1'}","{'m2': 51.29, 'p': '15.5'}",None,None,2,2,2,"â­ëŒ€ì¶œ,ë³´ì¦ë³´í—˜OKâ­ì˜¬ë¦¬ëª¨ë¸ë§â­ì—­ì„¸ê¶Œâ­íˆ¬ë£¸â­",None,04,ë§ˆí¬êµ¬ ì¤‘ë™,"{'lat': 37.57022264132613, 'lng': 126.90537466...",False,True,ë¹Œë¼,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™,None,None,1,2023-02-16T11:23:15+09:00,True,

In [29]:
df.columns

Index(['section_type', 'item_id', 'images_thumbnail', 'sales_type',
       'sales_title', 'deposit', 'rent', 'size_m2', 'ê³µê¸‰ë©´ì ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë©´ì ',
       'room_type_title', 'floor', 'floor_string', 'building_floor', 'title',
       'is_first_movein', 'room_type', 'address', 'random_location', 'is_zzim',
       'status', 'service_type', 'tags', 'address1', 'address2', 'address3',
       'manage_cost', 'reg_date', 'is_new', 'contract'],
      dtype='object')

In [32]:
address

'ë§ì›ë™'

In [36]:
colums = ['item_id', 'sales_type', 'deposit', 'rent', 'size_m2',
          'floor', 'building_floor', 'title', 'address', 'status', 'service_type', 'tags', 'address1', 'manage_cost']
df = df[colums]
df = df[df['address'].str.contains(address)].reset_index(drop=True)
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,floor,building_floor,title,address,status,service_type,tags,address1,manage_cost
89,35408930,ì „ì„¸,10390,0,54.64,3,3,ğŸŒ¸ì¤‘ê¸°ì²­80/ë²„íŒ€ëª©ğŸŒ¸ë§ˆí¬êµ¬ì²­ì—­5ë¶„ğŸŒ¸ê¹”ë”í•œë°©ğŸŒ¸,ë§ˆí¬êµ¬ ë§ì›ë™,True,ì›ë£¸,[ì¶”ì²œ],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,10
90,35197484,ì›”ì„¸,200,60,16.53,3,3,ğŸ’–ì¦‰ì‹œì…ì£¼ğŸ’–ë‚˜ì˜¤ë©´ë°”ë¡œê³„ì•½ğŸ’–ì‹¤ë§¤ë¬¼ğŸ’–ì„ ì°©ìˆœë§¤ë¬¼ğŸ’–,ë§ˆí¬êµ¬ ë§ì›ë™,True,ì›ë£¸,[],ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ë§ì›ë™,6

In [ ]:
# pep documents
# pep20, pep8
# flake8 : ì½”ë“œíš¨ìœ¨ì„± ì²´í¬

In [39]:
# ë¬¸ë²•(ì—ëŸ¬ë°œìƒO,ì½”ë“œì‹¤í–‰X), ì»¨ë²¤ì…˜(ì—ëŸ¬ë°œìƒX,ì½”ë“œì‹¤í–‰O)
1data = 1

SyntaxError: invalid syntax (<ipython-input-39-4c11d7547b80>, line 2)

In [40]:
data = 1

In [37]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!