### 네이버 연관 검색어 수집
- 정적(static) 웹페이지 데이터 수집 
- BeautifulSoup을 이용하여 HTML 문자열 데이터 parsing

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
# 식별자 컨벤션 : 변수, 함수(snake_case) : 클래스(PascalCase,UpperCamelCase)

#### 1. 웹페이지 분석 : URL

In [2]:
query = '삼성전자'
url = f'https://search.naver.com/search.naver?query={query}'
url

'https://search.naver.com/search.naver?query=삼성전자'

#### 2. request(URL) > response : str(html)

In [3]:
response = requests.get(url)
response

In [5]:
response.text[:300]

'<!doctype html> <html lang="ko"> <head> <meta charset="utf-8"> <meta name="referrer" content="always">  <meta name="format-detection" content="telephone=no,address=no,email=no"> <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0"> <meta property="og:title" content='

#### 3. str(html) > bs object

In [6]:
dom = BeautifulSoup(response.text, 'html.parser')
type(dom)

bs4.BeautifulSoup

#### 4. bs object > .select(css-selector), .select_one(css-selector) > str(text)
- select() : 여러개의 엘리먼트 선택 : 리스트(n개)
- select_one() : 한개의 엘리먼트 선택 : 태그(1개)

In [7]:
elements = dom.select('#nx_right_related_keywords > div > div.related_srch > ul > li')
len(elements)

10

In [12]:
element = elements[0]
element.select_one('.tit').text

'삼성전자주가'

#### 5. str(text) > DataFrame

In [13]:
keywords = [element.select_one('.tit').text for element in elements]
keywords

['삼성전자주가',
 '삼성전자 배당금',
 '삼성전자 성과급',
 '삼성전자 주식',
 '삼성전자서비스',
 '오늘 삼성전자 주가',
 '삼성전자 세일 페스타',
 '삼성전자 배당금 지급일',
 '삼성 전자레인지',
 '삼성전자 감자빵']

In [15]:
df = pd.DataFrame({'keyword': keywords})
df['query'] = query
df

        keyword query
0        삼성전자주가  삼성전자
1      삼성전자 배당금  삼성전자
2      삼성전자 성과급  삼성전자
3       삼성전자 주식  삼성전자
4       삼성전자서비스  삼성전자
5    오늘 삼성전자 주가  삼성전자
6   삼성전자 세일 페스타  삼성전자
7  삼성전자 배당금 지급일  삼성전자
8      삼성 전자레인지  삼성전자
9      삼성전자 감자빵  삼성전자