### Daum Exchange
- `https://finance.daum.net`
- 서버에서 어뷰징을 막는 경우 해결 방법

In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import requests

In [11]:
# 1. 웹서비스분석 : URL
url = 'https://finance.daum.net/api/exchanges/summaries'
headers = {
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36',
    'referer': 'https://finance.daum.net/exchanges',
}

# 2. request(URL) > response : json(str)
response = requests.get(url, headers=headers)

# 3. json(str) > list, dict > DataFrame
df = pd.DataFrame(response.json()['data'])
df.tail(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
40,FRX.KRWQAR,2023-02-16 15:06:51,QAR,리얄,1,카타르,"{'korName': '중동', 'engName': 'Middle East'}",카타르 (KRW/QAR),521,351.84,...,0.002806,0.0,0.0,0.00,0.00,None,None,3.355,0.2741,{'day': 'https://t1.daumcdn.net/finance/chart/...
41,FRX.KRWTRY,2023-02-16 15:06:51,TRY,리라,1,터키,"{'korName': '중동', 'engName': 'Middle East'}",터키 (KRW/TRY),521,68.08,...,0.002783,0.0,0.0,67.34,68.82,None,None,26.400,0.0530,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [12]:
pd.options.display.max_columns

20

In [13]:
pd.options.display.max_columns = 30

In [14]:
df.tail(2)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,change,changePrice,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
40,FRX.KRWQAR,2023-02-16 15:06:51,QAR,리얄,1,카타르,"{'korName': '중동', 'engName': 'Middle East'}",카타르 (KRW/QAR),521,351.84,FALL,0.99,0.002806,0.0,0.0,0.00,0.00,None,None,3.355,0.2741,{'day': 'https://t1.daumcdn.net/finance/chart/...
41,FRX.KRWTRY,2023-02-16 15:06:51,TRY,리라,1,터키,"{'korName': '중동', 'engName': 'Middle East'}",터키 (KRW/TRY),521,68.08,FALL,0.19,0.002783,0.0,0.0,67.34,68.82,None,None,26.400,0.0530,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [15]:
pd.options.display.max_rows = 1000

60