In [1]:
# 크롤릴 정책
# robots.txt : 해당 웹페이지의 크롤링 정책 설명한 페이지 //https://www.ted.com/robots.txt
# 크롤링법 x : 과도한 크롤링으로 서비스에 영향을 주었을 경우 업무방해 혐의로 고소당할 수 있음
# 법적문제 : 지적재산권, 서비스과부하, 데이터 사용 표준
# API 사용 : 데이터를 가지고 있는 업체에서 데이터를 가져갈 수 있도록 하는 서비스

### Naver Rest API
- 파파고 번역 api
- 통합검색어 트렌드 api

In [2]:
import pandas as pd
import requests, json

In [3]:
# http://localhost

#### 0. request token 얻기
- `https://developers.naver.com`
- 1. Request Token 얻기 : 애플리케이션등록 -> app_key 획득
- 2. app_key를 이용해서 데이터 가져오기

In [4]:
CLIENT_ID, CLIENT_SECRET = "SUAxnQCmL4xt9J2DXRML", "FNUnhUzHSr" 
# CLIENT_ID, CLIENT_SECRET = "CtOkGqlZdlTi602_z_fr", "ESvd2O8Kcj"

#### 1. 파파고 번역 api
- `https://developers.naver.com/docs/papago/`
- 사용법
    - `https://developers.naver.com/docs/papago/papago-nmt-api-reference.md`

In [5]:
# 1. API 문서 : URL

In [6]:
ko_txt = '웹크롤링은 재미있습니다.' 
url = 'https://openapi.naver.com/v1/papago/n2mt' 
headers = { 'Content-Type': 'application/json', 
           'X-Naver-Client-Id': CLIENT_ID, 
           'X-Naver-Client-Secret': CLIENT_SECRET, } 
params = {'source': 'ko', 'target': 'en', 'text': ko_txt}

In [7]:
# 2. request(URL, key, ko_key) > response : jason(str)

In [8]:
response = requests.post(url, json.dumps(params), headers=headers)
response

In [9]:
response.text

'{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Web crawling is fun.","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null,"modelVer":"1.5.8|enko.2022.0929.03|koen.2022.1206.02"},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}'

In [10]:
 json.dumps(params)

'{"source": "ko", "target": "en", "text": "\\uc6f9\\ud06c\\ub864\\ub9c1\\uc740 \\uc7ac\\ubbf8\\uc788\\uc2b5\\ub2c8\\ub2e4."}'

In [11]:
# 3. jason(str) : en_txt

In [12]:
en_txt = response.json()['message']['result']['translatedText'] 
en_txt

'Web crawling is fun.'

In [13]:
# 4. make function
def translate(txt, source = 'ko', target = 'en'):
    CLIENT_ID, CLIENT_SECRET = "SUAxnQCmL4xt9J2DXRML", "FNUnhUzHSr" 
    url = 'https://openapi.naver.com/v1/papago/n2mt' 
    headers = { 'Content-Type': 'application/json', 
           'X-Naver-Client-Id': CLIENT_ID, 
           'X-Naver-Client-Secret': CLIENT_SECRET, } 
    params = {'source': 'ko', 'target': 'en', 'text': txt}
    response = requests.post(url, json.dumps(params), headers=headers)
    return response.json()['message']['result']['translatedText']

In [14]:
translate('데이터 사이언스는 재미있습니다.')

'Data Science is fun.'

In [15]:
df = pd.DataFrame({ 'id': list('AB'), 
                   'title': ['인공지능 스쿨 화이팅', '데이터 크롤링'], }) 
df

  id        title
0  A  인공지능 스쿨 화이팅
1  B      데이터 크롤링

In [16]:
df['en_title'] = df['title'].apply(translate) 
df

  id        title              en_title
0  A  인공지능 스쿨 화이팅  AI school, fighting!
1  B      데이터 크롤링         Crawling data

In [17]:
df.to_excel('en_title.xlsx',index = False, encoding='utf-8-sig')

In [18]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: EE2D-1664

 C:\Users\User\Documents\GitHub\KT_python_jupyter_notebook\2023.02.16\2023.02.16_웹크롤링_실습자료\day1 디렉터리

2023-02-16  오후 05:10    <DIR>          .
2023-02-16  오후 05:10    <DIR>          ..
2023-02-16  오후 05:06    <DIR>          .ipynb_checkpoints
2023-02-16  오후 05:02           113,441 01_requests_naver_stock.ipynb
2023-02-16  오후 03:11            14,236 02_requests_daum_exchange.ipynb
2023-02-16  오후 05:10            22,396 03_naver_api.ipynb
2023-02-16  오후 05:06             2,554 04_requests_zigbang.ipynb
2023-02-16  오후 05:11             5,555 en_title.xlsx
               5개 파일             158,182 바이트
               3개 디렉터리  106,708,553,728 바이트 남음

In [19]:
pd.read_excel('en_title.xlsx')

  id        title              en_title
0  A  인공지능 스쿨 화이팅  AI school, fighting!
1  B      데이터 크롤링         Crawling data

#### 2. 통합검색어 트렌드 api
- 서비스 : `https://datalab.naver.com/keyword/trendSearch.naver`
- 내 애플리케이션 > dss 애플리케이션 > API 설정 > 데이터랩(검색어 트렌드) 추가
- 사용법 : `https://developers.naver.com/docs/serviceapi/datalab/search/search.md#통합-검색어-트렌드`

In [20]:
#  https://datalab.naver.com/
# https://trends.google.com/trends/?geo=KR

In [21]:
CLIENT_ID, CLIENT_SECRET = "SUAxnQCmL4xt9J2DXRML", "FNUnhUzHSr"

In [22]:
%whos #선언된 변수확인

No variables match your requested type.

In [23]:
# %reset #변수제거 import 전부사라짐 주의

In [24]:
# 1. API 문서 : URL

In [25]:
# url = 'https://openapi.naver.com/v1/datalab/search'
# parms = {
#     'startDate' : '2018-01-01',
#     'endDate' : '2023-02-16',
#     'timeUnit' : 'month',
#     'keywordGroups' : [
#         {'groupName' : '트위터', 'keywords' : ['트위터','트윗']},
#         {'groupName' : '페이스북', 'keywords' : ['페이스북','페북']},
#         {'groupName' : '인스타그램', 'keywords' : ['인스타그램','인스타']}
#     ]
# }

In [26]:
url = 'https://openapi.naver.com/v1/datalab/search' 
params = { 
    'startDate': '2018-01-01', 
    'endDate': '2023-02-16', 
    'timeUnit': 'month', 
    'keywordGroups': [ 
        {'groupName': '트위터', 'keywords': ['트위터', '트윗']}, 
        {'groupName': '페이스북', 'keywords': ['페이스북', '페북']}, 
        {'groupName': '인스타그램', 'keywords': ['인스타그램', '인스타']}, 
    ] 
}

In [27]:
headers = { 
    'Content-Type': 'application/json', 
    'X-Naver-Client-Id': CLIENT_ID, 
    'X-Naver-Client-Secret': CLIENT_SECRET, 
}

In [28]:
#  json.dumps 한글일때 사용

In [29]:
# 2. request(URL, key, ko_key) > response : jason(str)

In [30]:
response = requests.post(url, json.dumps(params), headers=headers)
response

In [31]:
# 3. jason(str) > list, dict > DataFrame

In [32]:
results = response.json()['results']
type(results)

KeyError: 'results'

In [ ]:
result_df = pd.concat(dfs, ignore_index=True) 
result_df.tail(2)

In [ ]:
len(dfs)

In [ ]:
dfs[0]

In [ ]:
# columns : period, ratio, title 
dfs = [] for result in results: 
    df = pd.DataFrame(result['data']) 
    df['title'] = result['title'] 
    dfs.append(df)

In [ ]:

import matplotlib.pyplot as plt